.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-silver {
    background-color: rgb(192, 192, 192);
}

.bg-gray {
    background-color: rgb(128, 128, 128);
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

.bg-red {
    background-color: rgb(255, 0, 0);
}

.bg-maroon {
    background-color: rgb(128, 0, 0);
}

.bg-yellow {
    background-color: rgb(255, 255, 0);
}

.bg-olive {
    background-color: rgb(128, 128, 0);
}

.bg-lime {
    background-color: rgb(0, 255, 0);
}

.bg-green {
    background-color: rgb(0, 128, 0);
}

.bg-aqua {
    background-color: rgb(0, 255, 255);
}

.bg-teal {
    background-color: rgb(0, 128, 128);
}

.bg-blue {
    background-color: rgb(0, 0, 255);
}

.bg-navy {
    background-color: rgb(0, 0, 128);
}

.bg-fuchsia {
    background-color: rgb(255, 0, 255);
}

.bg-purple {
    background-color: rgb(128, 0, 128);
}
