.border-white {
    border-color: rgb(255, 255, 255);
}

.border-silver {
    border-color: rgb(192, 192, 192);
}

.border-gray {
    border-color: rgb(128, 128, 128);
}

.border-black {
    border-color: rgb(0, 0, 0);
}

.border-red {
    border-color: rgb(255, 0, 0);
}

.border-maroon {
    border-color: rgb(128, 0, 0);
}

.border-yellow {
    border-color: rgb(255, 255, 0);
}

.border-olive {
    border-color: rgb(128, 128, 0);
}

.border-lime {
    border-color: rgb(0, 255, 0);
}

.border-green {
    border-color: rgb(0, 128, 0);
}

.border-aqua {
    border-color: rgb(0, 255, 255);
}

.border-teal {
    border-color: rgb(0, 128, 128);
}

.border-blue {
    border-color: rgb(0, 0, 255);
}

.border-navy {
    border-color: rgb(0, 0, 128);
}

.border-fuchsia {
    border-color: rgb(255, 0, 255);
}

.border-purple {
    border-color: rgb(128, 0, 128);
}
