.text-white {
    color: rgb(255, 255, 255);
}

.text-silver {
    color: rgb(192, 192, 192);
}

.text-gray {
    color: rgb(128, 128, 128);
}

.text-black {
    color: rgb(0, 0, 0);
}

.text-red {
    color: rgb(255, 0, 0);
}

.text-maroon {
    color: rgb(128, 0, 0);
}

.text-yellow {
    color: rgb(255, 255, 0);
}

.text-olive {
    color: rgb(128, 128, 0);
}

.text-lime {
    color: rgb(0, 255, 0);
}

.text-green {
    color: rgb(0, 128, 0);
}

.text-aqua {
    color: rgb(0, 255, 255);
}

.text-teal {
    color: rgb(0, 128, 128);
}

.text-blue {
    color: rgb(0, 0, 255);
}

.text-navy {
    color: rgb(0, 0, 128);
}

.text-fuchsia {
    color: rgb(255, 0, 255);
}

.text-purple {
    color: rgb(128, 0, 128);
}
