.font-style-normal {
    font-style: normal;
}

.font-style-italic {
    font-style: italic;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-bolder {
    font-weight: bolder;
}

.font-send-flowers {
    font-family: 'Send Flowers', sans-serif;
}

