.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.white-space-normal {
    white-space: normal;
}

.white-space-nowrap {
    white-space: nowrap;
}

.word-wrap-normal {
    word-wrap: normal;
}

.word-wrap-break-word {
    word-wrap: break-word;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.text-overflow-clip {
    text-overflow: clip;
}

.resize-none {
    resize: none;
}

.resize-both {
    resize: both;
}

.resize-vertical {
    resize: vertical;
}

.resize-horizontal {
    resize: horizontal;
}
