.nav-li:hover {
    color: white;
    background-color: palevioletred;
    opacity: 0.5;
    border-radius: 0.5rem;
}

.home-button:hover {
    color: white;
    background-color: palevioletred;
    opacity: 0.5;
}

