/*||=====> UNVISITED LINK <=====||*/
a:link {
    color: black;
}
  
/*||=====> VISITED LINK <=====||*/
a:visited {
    color: black;
}

/*||=====> MOUSE OVER LINK <=====||*/
a:hover {
    color: black;
}

/*||=====> SELECTED LINK <=====||*/
a:active {
    color: black;
}